.horizontalniNavigaceKontejner {
    width: 90%;
    display: flex;
    flex-direction: row;
    overflow: scroll;
    margin-left: 10%;
}

.horizontalniNavigaceKontejner::-webkit-scrollbar {
    background-color: transparent;
    height: 5px;
}

.horizontalniNavigaceKontejner::-webkit-scrollbar-track {
    background-color: transparent;
}

.horizontalniNavigaceKontejner::-webkit-scrollbar-thumb {
    background-color: darkgrey;
}

.navButton {
    color: white;
    text-decoration: none;
    background-color: black;
    font-family: 'BN-normal', cursive;
    font-weight: 500;
    font-size: clamp(13px, 1.6vw, 30px);
    margin: 0 3px;
    padding: 3px 7px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
}

.navButton:hover {
    box-shadow: 0 0 10px darkgrey;
}

.navButtonClassText {
    font-size: clamp(10px, 1.4vw, 25px);
    align-self:flex-end;
    margin-bottom: 1%;
}