.BoxProKarty {
    width: 80%;
    height: auto;
    margin-left: 5%;
    margin-top: 2%;
    flex-wrap: wrap;
}

.BoxProOdkazy {
    width: 80%;
    height: auto;
    margin-top: 2%;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
}

.obrazekKarty {
    margin: 20px;
    width: 20%;
    max-width: 200px;
    min-width: 100px;
}

.obrazekKarty:hover {
    box-shadow: 0 0 10px darkgrey;
}

.sectionButton {
    background-color: white;
    font-weight: 800;
    margin-left: 7%;
    font-size: clamp(15px, 1.8vw, 30px);
    width: 300px;
    text-decoration: none;
    color: black;
    border: 3px solid black;
    padding: 6px;
}

.sectionButton:hover {
    box-shadow: 0 0 10px darkgrey;
}

.sectionButtonLink {
    text-decoration: none;
    font-weight: 800;
    margin: -15px 15px;
    font-family: 'BN-normal', cursive;
}