.BoxProKarty {
    width: 80%;
    height: auto;
    margin-left: 5%;
    margin-top: 2%;
    flex-wrap: wrap;
    min-height: 100vh;
}

.OuterBoxOdkazy {
    min-height: 100vh;
    width: 80%;
    margin-top: 2%;
    display: flex;
}

.BoxProOdkazy {
    width: 80%;
    height: fit-content;
    flex-wrap: wrap;
    display: flex;
    align-items: flex-start;
}

.obrazekKarty {
    margin: 20px;
    width: 20%;
    max-width: 160px;
    min-width: 100px;
}

.obrazekKarty:hover {
    box-shadow: 0 0 10px darkgrey;
}

.hlavniPic {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    width: 50vw;
    min-width: 150px;
    max-width: 700px;
}

.sectionButton {
    background-color: white;
    font-weight: 800;
    font-size: clamp(15px, 1.8vw, 30px);
    width: 300px;
    text-decoration: none;
    margin: 0px 15px;
    color: black;
    border: 3px solid black;
    padding: 6px;
}

.sectionButton:hover {
    box-shadow: 0 0 10px darkgrey;
}

.sectionButtonLink {
    text-decoration: none;
    font-weight: 800;
    margin: 15px 15px;
    font-family: 'BN-normal', cursive;
}